# LearningGuide_front_admin
/LearningGuide_front_admin/logs/
/LearningGuide_front_admin/**/*.log
/LearningGuide_front_admin/**/npm-debug.log*
/LearningGuide_front_admin/**/yarn-debug.log*
/LearningGuide_front_admin/**/yarn-error.log*
/LearningGuide_front_admin/**/pnpm-debug.log*
/LearningGuide_front_admin/**/lerna-debug.log*
/LearningGuide_front_admin/node_modules/
/LearningGuide_front_admin/.DS_Store
/LearningGuide_front_admin/dist/
/LearningGuide_front_admin/dist-ssr/
/LearningGuide_front_admin/coverage/
/LearningGuide_front_admin/**/*.local
/LearningGuide_front_admin/cypress/videos/
/LearningGuide_front_admin/cypress/screenshots/
/LearningGuide_front_admin/.vscode/*
!/LearningGuide_front_admin/.vscode/extensions.json
/LearningGuide_front_admin/.idea/
/LearningGuide_front_admin/**/*.suo
/LearningGuide_front_admin/**/*.ntvs*
/LearningGuide_front_admin/**/*.njsproj
/LearningGuide_front_admin/**/*.sln
/LearningGuide_front_admin/**/*.sw?
/LearningGuide_front_admin/**/*.tsbuildinfo

# learning-guide-admin
/learning-guide-admin/dist/
/learning-guide-admin/node_modules/
/learning-guide-admin/build/
/learning-guide-admin/logs/
/learning-guide-admin/**/*.log
/learning-guide-admin/**/npm-debug.log*
/learning-guide-admin/**/pnpm-debug.log*
/learning-guide-admin/**/yarn-debug.log*
/learning-guide-admin/**/yarn-error.log*
/learning-guide-admin/**/lerna-debug.log*
/learning-guide-admin/.DS_Store
/learning-guide-admin/coverage/
/learning-guide-admin/.nyc_output/
/learning-guide-admin/.idea/
/learning-guide-admin/**/.project
/learning-guide-admin/**/.classpath
/learning-guide-admin/**/.c9/
/learning-guide-admin/**/*.launch
/learning-guide-admin/**/.settings/
/learning-guide-admin/**/*.sublime-workspace
/learning-guide-admin/.vscode/*
!/learning-guide-admin/.vscode/settings.json
!/learning-guide-admin/.vscode/tasks.json
!/learning-guide-admin/.vscode/launch.json
!/learning-guide-admin/.vscode/extensions.json
/learning-guide-admin/.env
/learning-guide-admin/.env.development.local
/learning-guide-admin/.env.test.local
/learning-guide-admin/.env.production.local
/learning-guide-admin/.env.local
/learning-guide-admin/.temp/
/learning-guide-admin/.tmp/
/learning-guide-admin/**/pids/
/learning-guide-admin/**/*.pid
/learning-guide-admin/**/*.seed
/learning-guide-admin/**/*.pid.lock
/learning-guide-admin/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
